---
import Layout from "../layouts/Layout.astro";
import TierList from "../components/TierList";
import { getPresidents, TIER_ORDER } from "../data/presidents";

const presidents = await getPresidents();
const year = new Date().getFullYear();
---
<Layout title="US Presidents, Ranked">
  <header class="hero">
    <h1>The Presidents, Ranked</h1>
    <span class="kicker">
      An arbitrary and opinionated ranking of every US president up to George HW Bush, by <a href="https://twitter.com/seldo">@seldo</a>.
    </span>
  </header>
  <TierList client:load presidents={presidents} tierOrder={TIER_ORDER} />

  <section class="about">
    <h2>What is this?</h2>
    <p>
      Once upon a time, for fun, I embarked on a project to read <a href="http://seldo.com/weblog/2019/09/27/biographies_of_every_us_president_as_audiobooks">biographies of every US president</a> up to George HW Bush.
      Naturally, I ended up having some opinions about which presidents were better. I also wanted to play with Gatsby and Netlify. So I built this little website to do all those things.
    </p>
    <p>
      I welcome questions and suggestions <a href="https://twitter.com/seldo">on Twitter</a>, but it is pretty unlikely I will change my rankings as a result of you yelling at me.
    </p>
    <h3>How can a war criminal be great?!</h3>
    <p>
      It is important to note that these presidents are very much ranked <b>on a curve</b>; they are almost without fail huge assholes, many of whom committed atrocities. These rankings are only relative to the other presidents and not an absolute judgement of their worth as human beings.
    </p>
    <h3>Why stop at Bush 41?</h3>
    <p>The arbitrary line I stopped at is "last dead president". Carter is still alive, so biographies of him are incomplete. Once presidents die, people feel more free to say less complimentary things about them (for instance, everyone denied Eisenhower was having an affair, even though he <b>obviously</b> was having an affair, until he died). Add to that the problem that for more recent presidents, some of the things they did are still classified. New facts about Nixon's presidency were still being revealed in 2007, and Reagan and Carter's presidencies are still largely shrouded in secrecy. So I will update to include later presidents only upon their death.</p>
  </section>
  <footer>
    © 2021 <a href="https://bsky.app/profile/seldo.com">Laurie Voss</a> | <a href="https://github.com/seldo/presidents">Source on GitHub</a>
  </footer>
</Layout>
